@import "tailwindcss";

@theme {

  --color-primary: #545454;
  --color-secondary: #2a2a2a;
  --color-background: #121212;
  --color-text: #ffffff;
  --color-commonButton: #c69f42;
  --color-commonButtonHover: #535bf2;
  --color-commonButtonText: #121212;
  --color-commonButtonTextHover: #ffffff;
  --color-commonButtonBorder: #c69f42;
  --color-commonButtonBorderHover: #535bf2;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}